html {
  font-size: 62.5%;
}

:root {
  --color-heading: #42927d;
  --color-body: #787772;
  --color-secondary: #191816;
  --btn-primary: #212121;
  --btn-secondary: #6c706d;
}

/* Topography */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  background: rgb(232, 253, 222);
  background: linear-gradient(
    180deg,
    rgba(197, 211, 190, 1) 7%,
    rgba(255, 255, 255, 1) 30%
  );
  background-repeat: no-repeat;
}

h1 {
  color: var(--color-heading);
  font-size: 3rem;
}

.tagline {
  color: var(--color-body);
  font-size: 1.3rem;
}

h1,
.tagline {
  text-align: center;
  margin: 0 0 5px 0;
}

/* Card */

.card__duration {
  display: block;
  margin-bottom: 1rem;
}
.card__price {
  font-size: 3rem;
}
.card__billing-cycle {
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.card__description {
  display: block;
  margin-bottom: 1rem;
}

/* Buttton */

.btn {
  border: none;
  border-radius: 15px;
  padding: 1rem;
  width: 90%;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2rem 0 2rem 0;
  color: #fff;
  cursor: pointer;
}

.btn--primary {
  background: var(--btn-primary);
}

.btn--secondary {
  background: var(--btn-secondary);
}

/* Plan */

.plan {
  border: 2px solid green;
  max-width: 300px;
  border-radius: 30px;
  overflow: hidden;
  margin: 2rem;
  /* position: absolute; */
}
.plan__header {
  text-align: justify;
  margin-top: 1rem;
}

.plan__body-content {
  text-align: center;
  margin-top: 5rem;
}

.plan__body {
  border-top: 2px solid green;
  padding-bottom: 5rem;
}

.plan__popular {
  text-transform: uppercase;
  text-align: center;
  background: green;
  color: #fff;
  padding: 2rem 0 2rem 0;
  width: 100%;
}
.plan--block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .plan--block {
    display: flex;
    flex-direction: row;
  }
}
/* List */
.ul {
  list-style: none;
  margin-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

li,
img {
  margin-right: 1rem;
}

/* Footer */

.footer__header {
  margin: 2rem 0 0 2rem;
}
