<div class="card-footer">
  <div class="footer__header">
    <h3>Everything is Free</h3>
  </div>
  <div class="ul list">
    <div class="list__items">
      <li><img src="images/tick.svg" alt="" />300 emails/day</li>

      <li><img src="images/tick.svg" alt="" />Customizable Email Template</li>

      <li><img src="images/tick.svg" alt="" />Drag & Drop Editor</li>

      <li><img src="images/tick.svg" alt="" />Transactional Emails</li>

      <li><img src="images/tick.svg" alt="" />SMS & WhatsApp Campaigns</li>
    </div>
  </div>
</div>
