<div class="plan">
  <div class="plan--primary">
    <div class="plan__header">
      <section class="card-header">
        <h1>Free</h1>
        <p class="tagline">Discover Brevo</p>
      </section>
    </div>
    <div class="plan__body-content">
      <section class="card--body">
        <div class="card__content">
          <span class="card__duration">300 emails/day</span>
          <span class="card__price">$0</span>
          <span class="card__billing-cycle">/month</span>
          <span class="card__description">with unlimited contacts</span>
        </div>
        <button class="btn">Your current plan</button>
      </section>
    </div>
    <div class="plan__body">
      <section class="card-footer">
        <div class="footer__header">
          <h3>Everything is Free</h3>
        </div>
        <div class="ul list">
          <div class="list__items">
            <li><img src="images/tick.svg" alt="" />300 emails/day</li>

            <li>
              <img src="images/tick.svg" alt="" />Customizable Email Template
            </li>

            <li><img src="images/tick.svg" alt="" />Drag & Drop Editor</li>

            <li><img src="images/tick.svg" alt="" />Transactional Emails</li>

            <li>
              <img src="images/tick.svg" alt="" />SMS & WhatsApp Campaigns
            </li>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
